// 先引入自定义的主题变量
/// fontSize|1|Font Size|0
$--font-size-extra-large: 28px;
/// fontSize|1|Font Size|0
$--font-size-large: 26px;
/// fontSize|1|Font Size|0
$--font-size-medium: 24px;
/// fontSize|1|Font Size|0
$--font-size-base: 22px;
/// fontSize|1|Font Size|0
$--font-size-small: 20px;
/// fontSize|1|Font Size|0
$--font-size-extra-small: 18px;
$--input-height: 52px;
$--tag-font-size: 26px;

/* 改变 icon 字体路径变量，必需 */
$--font-path: "element-ui/lib/theme-chalk/fonts";

// 引入 common 库的变量（依赖自定义主题变量）
@import "@greatmap/common-modules/dist/styles/common-variables";

// 布局大小
$header-height: 60px;
$aside-width: 200px;
$sub-aside-width: 268px;
