// 先引入自定义主题样式
@import "./common-variables.scss";

// 引入 element-ui 样式
@import "element-ui/packages/theme-chalk/src/index.scss";

// 引入 common-modules 的公共样式（依赖自定义主题变量）
@import "~@greatmap/common-modules/dist/styles/index.scss";

.el-button,
.el-table,
.el-dialog__body,
.el-message,
.el-message__content {
  font-size: $--font-size-large !important;
}

.el-button {
  letter-spacing: 1px;
}

.cm-table.el-table thead th {
  background: none !important;
}

.cm-filter > .el-button {
  display: none;
}

.el-table .cell {
  line-height: 36px;
}

.el-table .el-table__cell {
  padding: $spacing-medium 0;
}

.el-form {
  &-item {
    &__label {
      line-height: $--input-height;
    }
  }
}

html,
body {
  height: 100%;
  overflow: hidden;
}

body {
  font-size: $--font-size-base;
  min-width: 1024px;
  min-height: 768px;
}
